{% extends 'back_base.html.twig' %}

{% block content %}
    <h1>Fosusers list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Usernamecanonical</th>
                <th>Email</th>
                <th>Emailcanonical</th>
                <th>Enabled</th>
                <th>Salt</th>
                <th>Password</th>
                <th>Lastlogin</th>
                <th>Confirmationtoken</th>
                <th>Passwordrequestedat</th>
                <th>Roles</th>
                <th>Gender</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Address</th>
                <th>Zipcode</th>
                <th>City</th>
                <th>Country</th>
                <th>Phone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fosUser in fosUsers %}
            <tr>
                <td><a href="{{ path('admin_user_show', { 'id': fosUser.id }) }}">{{ fosUser.id }}</a></td>
                <td>{{ fosUser.username }}</td>
                <td>{{ fosUser.usernameCanonical }}</td>
                <td>{{ fosUser.email }}</td>
                <td>{{ fosUser.emailCanonical }}</td>
                <td>{% if fosUser.enabled %}Yes{% else %}No{% endif %}</td>
                <td>{{ fosUser.salt }}</td>
                <td>{{ fosUser.password }}</td>
                <td>{% if fosUser.lastLogin %}{{ fosUser.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ fosUser.confirmationToken }}</td>
                <td>{% if fosUser.passwordRequestedAt %}{{ fosUser.passwordRequestedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if fosUser.roles %}{{ fosUser.roles|join(', ') }}{% endif %}</td>
                <td>{{ fosUser.gender }}</td>
                <td>{{ fosUser.firstname }}</td>
                <td>{{ fosUser.lastname }}</td>
                <td>{{ fosUser.address }}</td>
                <td>{{ fosUser.zipCode }}</td>
                <td>{{ fosUser.city }}</td>
                <td>{{ fosUser.country }}</td>
                <td>{{ fosUser.phone }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_user_show', { 'id': fosUser.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_user_edit', { 'id': fosUser.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_user_new') }}">Create a new fosUser</a>
        </li>
    </ul>
{% endblock %}
