{% extends 'back_base.html.twig' %}

{% block content %}
    <h1>Fosuser</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fosUser.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ fosUser.username }}</td>
            </tr>
            <tr>
                <th>Usernamecanonical</th>
                <td>{{ fosUser.usernameCanonical }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ fosUser.email }}</td>
            </tr>
            <tr>
                <th>Emailcanonical</th>
                <td>{{ fosUser.emailCanonical }}</td>
            </tr>
            <tr>
                <th>Enabled</th>
                <td>{% if fosUser.enabled %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Salt</th>
                <td>{{ fosUser.salt }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ fosUser.password }}</td>
            </tr>
            <tr>
                <th>Lastlogin</th>
                <td>{% if fosUser.lastLogin %}{{ fosUser.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Confirmationtoken</th>
                <td>{{ fosUser.confirmationToken }}</td>
            </tr>
            <tr>
                <th>Passwordrequestedat</th>
                <td>{% if fosUser.passwordRequestedAt %}{{ fosUser.passwordRequestedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{% if fosUser.roles %}{{ fosUser.roles|join(', ') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ fosUser.gender }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ fosUser.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ fosUser.lastname }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ fosUser.address }}</td>
            </tr>
            <tr>
                <th>Zipcode</th>
                <td>{{ fosUser.zipCode }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ fosUser.city }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ fosUser.country }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ fosUser.phone }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_user_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_user_edit', { 'id': fosUser.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
