{% extends 'back_base.html.twig' %}

{% block content %}
    <h1>Piecesjointes list</h1>

    <table>
        <thead>
            <tr>
                <th>Iddoc</th>
                <th>Nomdoc</th>
                <th>Etatdoc</th>
                <th>Iddemande</th>
                <th>Brochure</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for piecesJointe in piecesJointes %}
            <tr>
                <td><a href="{{ path('admin_demande_piecesjointe_show', { 'idDoc': piecesJointe.idDoc }) }}">{{ piecesJointe.idDoc }}</a></td>
                <td>{{ piecesJointe.nomDoc }}</td>
                <td>{{ piecesJointe.etatDoc[0] }}</td>
                <td>{{ piecesJointe.idDemande }}</td>
                <td><a href="{{ asset('uploads/brochures/' ~ piecesJointe.brochure) }}">View brochure (PDF)</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_demande_piecesjointe_show', { 'idDoc': piecesJointe.idDoc }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_demande_piecesjointe_edit', { 'idDoc': piecesJointe.idDoc }) }}">edit</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_demande_piecesjointe_delete', { 'idDoc': piecesJointe.idDoc }) }}">delete</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_demande_piecesjointe_new') }}">Create a new piecesJointe</a>
        </li>
    </ul>
{% endblock %}
