{% extends 'back_base.html.twig' %}

{% block content %}
    <h1>Piecesjointe</h1>

    <table>
        <tbody>
            <tr>
                <th>Iddoc</th>
                <td>{{ piecesJointe.idDoc }}</td>
            </tr>
            <tr>
                <th>Nomdoc</th>
                <td>{{ piecesJointe.nomDoc }}</td>
            </tr>
            <tr>
                <th>Etatdoc</th>
                <td>{{ piecesJointe.etatDoc[0] }}</td>
            </tr>
            <tr>
                <th>Iddemande</th>
                <td>{{ piecesJointe.idDemande }}</td>
            </tr>
            <tr>
                <th>Brochure</th>
                <td><a href="{{ asset('uploads/brochures/' ~ piecesJointe.brochure) }}">View brochure (PDF)</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_demande_piecesjointe_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_demande_piecesjointe_edit', { 'idDoc': piecesJointe.idDoc }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
