{% set route = app.request.get('_route') %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Back-Office{% endblock %}</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

</head>
<body>
<div class="container">

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

        {% if is_granted('ROLE_ADMIN') %}<a class="btn nav-link btn-sm ml-3" href="{{path('homepage') }}">home</a>
        {% elseif is_granted('ROLE_USER') %}<a class="btn nav-link btn-sm ml-3" href="{{path('homepage') }}">Home</a>{% endif %}
        <a class="btn nav-link btn-sm ml-3" href="{{ path('fos_user_security_logout') }}"></i>{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
        
        {% else %}
                <a class="btn nav-link btn-sm ml-3" href="{{ path('fos_user_security_login') }}"></i> {{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                <a class="btn nav-link btn-sm ml-3" href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %} <br><br>

        <a class="btn nav-link btn-sm ml-3" href="{{ path('admin_user_index') }}">UTILISATEURS</a>
        <a class="btn nav-link btn-sm ml-3" href="{{ path('admin_demande_index') }}">DEMANDES</a>
        <a class="btn nav-link btn-sm ml-3" href="{{ path('admin_demande_piecesjointe_index') }}">PIECES JOINTEES</a>
        <a class="btn nav-link btn-sm ml-3" href="{{ path('admin_tarif_index') }}">TARIF</a>



    {% block header %}{% endblock %}

    {% block flash %}

        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div>
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('error') %}
            <div>
                {{ flashMessage }}
            </div>
        {% endfor %}

    {% endblock %}

    <!-- container content - BEGIN -->
    <div class="container container-content">
        <div id="layout-view" class="view view-villa-all">
            {% block content %}{% endblock %}
        </div>
    </div>
    <!-- container content - END -->

    {% block footer %}{% endblock footer %}

</div>
</body>
</html>