<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

            {% if is_granted('ROLE_ADMIN') %}<a class=" btn-sm ml-3" href="{{path('back_office') }}"></i> {{ 'admin'|trans({}, 'FOSUserBundle') }}</a>
            {% elseif is_granted('ROLE_USER') %}<a class="btn-sm ml-3" href="{{path('homepage') }}"></i> {{ 'profile.show.profile'|trans({}, 'FOSUserBundle') }}</a>{% endif %}
            <a class="btn-sm ml-3" href="{{ path('fos_user_security_logout') }}"> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
            
            {% else %}
                    <a class=" btn-sm ml-3" href="{{ path('fos_user_security_login') }}"> {{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    <a class=" btn-sm ml-3" href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
