{% extends 'back_base.html.twig' %}

{% block content %}
    <h1>Demandes list</h1>

    <table>
        <thead>
            <tr>
                <th>Iddemande</th>
                <th>Immatriculation</th>
                <th>Statusdemande</th>
                <th>Besoininfo</th>
                <th>Datedelai</th>
                <th>Infodelais</th>
                <th>Departement</th>
                <th>Datedemande</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for demande in demandes %}
            <tr>
                <td><a href="{{ path('admin_demande_show', { 'idDemande': demande.idDemande }) }}">{{ demande.idDemande }}</a></td>
                <td>{{ demande.immatriculation }}</td>
                <td>{{ demande.statusDemande[0] }}</td>
                <td>{% if demande.besoinInfo %}Yes{% else %}No{% endif %}</td>
                <td>{{ demande.dateDelai|date('Y-m-d') }}</td>
                <td>{{ demande.infoDelais }}</td>
                <td>{{ demande.departement }}</td>
                <td>{{ demande.dateDemande|date('Y-m-d H:i:s') }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_demande_show', { 'idDemande': demande.idDemande }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_demande_edit', { 'idDemande': demande.idDemande }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_demande_new') }}">Create a new demande</a>
        </li>
    </ul>
{% endblock %}
