{% extends 'back_base.html.twig' %}

{% block content %}
    <h1>Demande</h1>

    <table>
        <tbody>
            <tr>
                <th>Iddemande</th>
                <td>{{ demande.idDemande }}</td>
            </tr>
            <tr>
                <th>Immatriculation</th>
                <td>{{ demande.immatriculation }}</td>
            </tr>
            <tr>
                <th>Statusdemande</th>
                <td>{{ demande.statusDemande[0]  }}</td>
            </tr>
            <tr>
                <th>Besoininfo</th>
                <td>{% if demande.besoinInfo %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Datedelai</th>
                <td>{% if demande.dateDelai %}{{ demande.dateDelai|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Infodelais</th>
                <td>{{ demande.infoDelais }}</td>
            </tr>
            <tr>
                <th>Departement</th>
                <td>{{ demande.departement }}</td>
            </tr>
            <tr>
                <th>Datedemande</th>
                <td>{% if demande.dateDemande %}{{ demande.dateDemande|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_demande_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_demande_edit', { 'idDemande': demande.idDemande }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
