{% extends 'base.html.twig' %}

{% block body %}
    <h1>Uploads list</h1>

    <table>
        <thead>
            <tr>
                <th>Idbrochure</th>
                <th>Brochure</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for upload in uploads %}
            <tr>
                <td><a href="{{ path('upload_show', { 'idBrochure': upload.idBrochure }) }}">{{ upload.idBrochure }}</a></td>
                <td>{{ upload.brochure }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('upload_show', { 'idBrochure': upload.idBrochure }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('upload_edit', { 'idBrochure': upload.idBrochure }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('upload_new') }}">Create a new upload</a>
        </li>
    </ul>
{% endblock %}
