{% extends 'base.html.twig' %}

{% block body %}
    <h1>Upload</h1>

    <table>
        <tbody>
            <tr>
                <th>Idbrochure</th>
                <td>{{ upload.idBrochure }}</td>
            </tr>
            <tr>
                <th>Brochure</th>
                <td>{{ upload.brochure }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('upload_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('upload_edit', { 'idBrochure': upload.idBrochure }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
