{% extends 'back_base.html.twig' %}

{% block content %}
    <h1>Tarifs list</h1>

    <table>
        <thead>
            <tr>
                <th>Idtarif</th>
                <th>Typetarif</th>
                <th>Valeurtarif</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tarif in tarifs %}
            <tr>
                <td><a href="{{ path('admin_tarif_show', { 'idTarif': tarif.idTarif }) }}">{{ tarif.idTarif }}</a></td>
                <td>{{ tarif.typeTarif }}</td>
                <td>{{ tarif.valeurTarif }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_tarif_show', { 'idTarif': tarif.idTarif }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_tarif_edit', { 'idTarif': tarif.idTarif }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_tarif_new') }}">Create a new tarif</a>
        </li>
    </ul>
{% endblock %}
