{% extends 'back_base.html.twig' %}

{% block content %}
    <h1>Tarif</h1>

    <table>
        <tbody>
            <tr>
                <th>Idtarif</th>
                <td>{{ tarif.idTarif }}</td>
            </tr>
            <tr>
                <th>Typetarif</th>
                <td>{{ tarif.typeTarif }}</td>
            </tr>
            <tr>
                <th>Valeurtarif</th>
                <td>{{ tarif.valeurTarif }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_tarif_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_tarif_edit', { 'idTarif': tarif.idTarif }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
